<div class="container mt-5">
  <form (ngSubmit)="login()">
    <div class="row justify-content-center">
      <div class="col-4 mb-5">
        <a routerLink="/">
          <img
            src="https://i.pinimg.com/originals/c8/88/89/c8888942b5d00fc30ad2aa19fd45280b.gif"
            alt=""
            width="370"
            height="150"
        /></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          required
          minlength="3"
          [(ngModel)]="user.email"
          #email="ngModel"
        />
        <small class="text-danger" *ngIf="!email.valid"
          >Email is required</small
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          required
          minlength="3"
          [(ngModel)]="user.password"
          #password="ngModel"
        />
        <small class="text-danger" *ngIf="!password.valid"
          >Password is required</small
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <a routerLink="/register" class="text-decoration-none text-dark"
          >Create a account</a
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
